/*           colors                */

:root {
    color-scheme: light dark;

    --main-color:#333;
    --subtle-color:#888;
    --very-subtle-color:#ddd;
    --highlight-color:#127F25;
    --bg-color: #fff;
    --bg-color2: 255 255 255;
    --bg-highlight-color: #eee;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color:#fff;
        --subtle-color:#aaa;
        --very-subtle-color:#555;
        --highlight-color:#1DC539;
        --bg-color: #333;
        --bg-color2: 48 48 48;
        --bg-highlight-color: #444;
    }
}





/*           general                */

h1,h2,h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

section {
    margin-bottom: 50px;
}

body {
    background: var(--bg-color);
    color: var(--main-color);
    margin: 0 auto;
    max-width: 700px;
    line-height: 1.2;
    font-size: 16px;
    padding: 0 10px;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main a {
    color: var(--highlight-color);
}

main a:hover {
    text-decoration: underline;
}

:target {
    content: '';
    display: block;
    height: 130px;
    margin-top: -130px;
    visibility: hidden;
}




/*           header                */

header {
    background: rgb(var(--bg-color2) / 50%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    border-bottom: 1px solid var(--very-subtle-color);
}

div#header {
    max-width: min(700px, calc(100vw - 20px));
    margin: 0 auto;
    display: flex;
}

div#tag {
    flex: 1
}

a#name {
    margin-top: 5px;
    font-size: 35px;
}

div#desc {
    font-size: 13px;
    color: var(--subtle-color);
}

nav > a + a {
    margin-left: 28px;
}

div#tag, nav {
    margin-bottom: 12px;
}

nav {
    margin-top: 23px;
    font-size: 18px;
}

main {
    margin-top: 130px;
    margin-bottom: 70px;
}

@media screen and (width <= 620px) {
    div#header, a#name {
        display: block;
        width: 100%;
    }

    a#name, div#desc {
        text-align: center;
    }

    nav {
        margin-top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    main {
        margin-top: 130px;
        margin-bottom: 20px;
    }
}






/*           me                */

img#pic {
    float:left;
    margin-right: 30px;
    margin-bottom: 15px;
    width: min(max(50px, 38vw), 266px);
    border-radius: 10px;
}

div.group {
    display: inline-block;
    max-width: min(calc(62vw - 50px),404px);
}

div.group > * {
    margin-top: 0;
}

ul {
    padding-left: 20px;
}


@media screen and (width <= 600px) {
    img#pic {
        float:right;
        margin-left: 30px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    div.group {
        display: block;
        max-width: none;
    }
}

div.email > span:nth-child(2), span:nth-child(3) {
    display: none;
}

div.email {
    margin-bottom: 20px;
}



a.logo + a.logo{
    margin-left: 18px;
}

a.logo + a.logo + a.logo{
    margin-left: 21px;
}





/*           publications                */

div.paper {
    width: fit-content;
    font-size: 14px;
    display: flex;
}

p#pubdesc, div.paper {
    margin-bottom: 40px;
}

div.paper-text {
    flex: 1;
}

div.paper > svg, div.paper > img {
    width: 84px;
    height: 84px;
/*    outline: 1px solid black;*/
    margin-right: 20px;
}


div.paper-text > .title {
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
}

div.paper-text > p.conf {
    color: var(--subtle-color);
}

a:target + div.paper {
   background: var(--bg-highlight-color);
   border-radius: 10px;
   box-shadow: 0 0 0 15px var(--bg-highlight-color);
}

div.paper-text > a + a {
    margin-left: 20px;
}

div.paper-text > p {
    margin-bottom: 5px;
    margin-top: 5px;
}






/*           bio                */

td.dates {
    text-align: right;
    vertical-align: top;
    width:0.1%;
    white-space: nowrap;
    color: var(--subtle-color);
    padding-right: 5px;
}

td.content {
    padding-left: 20px;
    padding-bottom: 15px;
}





