/*           colors                */

:root {
    --main-color:#333;
    --subtle-color:#888;
    --very-subtle-color:#ddd;
    --highlight-color:#127F25;
    --bg-color: #ffffff;
    --bg-color2: 256, 256, 256;
    --bg-highlight-color: #eee;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color:#fff;
        --subtle-color:#aaa;
        --very-subtle-color:#555;
        --highlight-color:#1DC539;
        --bg-color: #333;
        --bg-color2: 48, 48, 48;
        --bg-highlight-color: #444;
    }
}





/*           general                */

h1,h2,h3 {
    margin-bottom: 15px;
}

body {
    background: var(--bg-color);
    color: var(--main-color);
    margin:0px auto;
    max-width: 700px;
    line-height: 1.2;
    font-size: 16px;
    padding: 0 10px;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main a:hover {
    text-decoration: underline;
}

main a {
    color: var(--highlight-color);
}






/*           header                */

header {
    background: rgba(var(--bg-color2), 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    border-bottom: 1px solid var(--very-subtle-color);
}

div#header {
    max-width: min(700px, calc(100vw - 20px));
    margin:0px auto;
    display: flex;
}

div#tag {
    flex: 1
}

div#name {
    margin-top: 5px;
    font-size: 35px;
}

div#desc {
    font-size: 13px;
    color: var(--subtle-color);
}

nav > a + a {
    margin-left: 28px;
}

div#tag, nav {
    margin-bottom: 12px;
}

nav {
    margin-top: 23px;
    font-size: 18px;
}

main {
    margin-top: 130px;
    margin-bottom: 70px;
}

@media screen and (max-width: 620px) {
    div#header {
        display: block;
        width: 100%;
    }

    div#name, div#desc {
        text-align: center;
    }

    nav {
        margin-top: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    main {
        margin-top: 130px;
        margin-bottom: 20px;
    }
}

#intro, #publications, #bio, #sagt-25, #aamas-25, #ijcai-24, #stoc-23, #ijcai-23, #aaai-23, #aamas-23, #icalp-23, #wads-23, #alenex-23, #ijcai-21, #aic-19, #esa-16 {
    content: '';
    display: block;
    height: 130px;
    margin-top: -130px;
    visibility: hidden;
}






/*           me                */

div#me {
    margin-bottom: 30px;
}

img#pic {
    float:left;

    margin-right: 30px;
    margin-bottom: 15px;
    width: min(max(50px, 38vw), 266px);
    border-radius: 10px;
}

div.group {
    display: inline-block;
    max-width: min(calc(62vw - 50px),404px);
}

div.group > * {
    margin-top: 0px;
}

ul {
    padding-left: 20px;
}


@media screen and (max-width: 600px) {
    img#pic {
        float:right;
        margin-left: 30px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    div.group {
        display: block;
        max-width: none;
    }
}

p#long-desc {
    margin-top: 0px;
}

div.email > span:nth-child(2),span:nth-child(3) {
    display: none;
}

div.email {
    margin-bottom: 20px;
}



a.logo + a.logo{
    margin-left: 18px;
}

a.logo + a.logo + a.logo{
    margin-left: 21px;
}





/*           publications                */

div.paper {
    width: fit-content;
    font-size: 14px;
}

div.paper > .title {
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}


div.paper > p.conf {
    color: var(--subtle-color);
}

div.paper, p#pubdesc {
    margin-bottom: 30px;
}

a:target + div.paper {
   background: var(--bg-highlight-color);
   border-radius: 10px;
   padding: 10px 20px;
   margin-top: -10px;
   margin-left: -20px;
   margin-right: -20px;
   margin-bottom: 20px;
}

div.paper > a + a {
    margin-left: 20px;
}

div.paper > p {
    margin-bottom: 5px;
    margin-top: 5px;
}






/*           bio                */

td.dates {
    text-align: right;
    vertical-align: top;
    width:0.1%;
    white-space: nowrap;
    color: var(--subtle-color);
    padding-right: 5px;
}

td.content {
    padding-left: 20px;
    padding-bottom: 15px;
}





