body {
    margin:0px auto;
    max-width: 800px;
    line-height: 1.2;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

input, label {
    display:block;
    width:250px;
}

input {
    margin-bottom: 10px;
}

div.form-side {
    display:inline-block;
}

span{
    display:block;
}
